@model IEnumerable<easysched.Models.Shift>

@{
    ViewData["Title"] = "Hello " + ViewData["EmployeeName"];
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <br />
            <div id="bootstrapModalFullCalendar"></div>
        </div>
    </div>
</div>
<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">x</span>
                    <span class="sr-only">close</span>
                </button>
                <h4 id="modalTitle" class="modal-title"></h4>
            </div>
            <div id="modalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" id="eventUrl" target="_blank">Edit</a>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />

<div class="container">
    <aside>
        <form method="GET" action="">
            <button type="button">Request Time-Off</button><br />
            <button type="button">Update Availability</button><br />
            <button type="button">Settings</button><br />
        </form>
    </aside>
</div>

<br />
<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
